Basic Set Overview

In [1]:
my_set = {}

In [2]:
type(my_set)

dict

In [3]:
my_set = set()

In [4]:
type(my_set)

set

In [5]:
my_set = {1, 2, 5, 7}

In [6]:
type(my_set)

set

In [7]:
my_set = {i**2 for i in range(10)}

In [8]:
type(my_set)

set

In [9]:
my_set

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [10]:
new_set = my_set

In [11]:
new_set

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81}

In [12]:
new_set.add(5)

In [13]:
new_set

{0, 1, 4, 5, 9, 16, 25, 36, 49, 64, 81}

In [14]:
my_set

{0, 1, 4, 5, 9, 16, 25, 36, 49, 64, 81}

In [15]:
new_set = my_set.copy()

In [16]:
new_set.add(99)

In [17]:
my_set

{0, 1, 4, 5, 9, 16, 25, 36, 49, 64, 81}

Sets are mutable! Be careful!

Quick review of mutable vs immutable: <br>

Help me fill in Mutable data types in Python:



Help me fill in Immutable data types in Python:

Mutable: Sets, Dictionaries, Lists

Immutable: Strings, Ints, Floats, bool

Answers for confirmation:

Mutable: Lists, Sets, Dictionaries

Immutable: Boolean, Integers, Floats, Tuples, Strings, Frozensets

In [18]:
x = 5

In [19]:
type(x)

int

In [20]:
id(x)

4400334096

In [21]:
x = 7

In [22]:
id(x)

4400334160

In [23]:
list_1 = [5, 6]

In [24]:
list_1

[5, 6]

In [25]:
id(list_1)

140682729414320

In [26]:
list_1.append(7)

In [27]:
list_1

[5, 6, 7]

In [28]:
id(list_1)

140682729414320

In [29]:
new_list = list_1

In [30]:
id(new_list)

140682729414320

In [31]:
new_list.append(8)

In [32]:
list_1

[5, 6, 7, 8]

In [33]:
new_new_list = list_1.copy()

In [34]:
id(new_new_list)

140683802638288

Okay, hopefully mutable vs immutable is a little clearer now, back to sets!

Basic set operations:<br>

Union <br>
Intersection <br>
Difference <br>
Complement

In [35]:
S = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
A = {2, 4, 6}
B = {4, 5, 6, 7, 8}

In [43]:
A.add(4)

In [44]:
A

{2, 4, 6}

In [36]:
A.union(B)

{2, 4, 5, 6, 7, 8}

In [37]:
A + B

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [42]:
A | B

{2, 4, 5, 6, 7, 8}

In [39]:
A.intersection(B)

{4, 6}

In [40]:
B.intersection(A)

{4, 6}

In [41]:
A & B

{4, 6}

In [45]:
A.difference(B)

{2}

In [46]:
A - B

{2}

In [47]:
B.difference(A)

{5, 7, 8}

In [48]:
B - A

{5, 7, 8}

Complement:
The complement of a set A is everything in some predefined sample space that isn't in set A.

So if S is our sample space, the complement of A is:

In [49]:
S - A

{1, 3, 5, 7, 8, 9, 10}

and the complement of B is

In [50]:
S - B

{1, 2, 3, 9, 10}

De Morgan's Laws

1. The complement of the union of two sets is the same as the intersection of their complements

How might I test this with python code?

In [51]:
S = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
A = {2, 4, 6}
B = {4, 5, 6, 7, 8}

In [52]:
#the complement of the union of two sets
S - (A | B)

{1, 3, 9, 10}

In [55]:
#the intersection of their complements
(S.difference(A)).intersection(S.difference(B))

{1, 3, 9, 10}

In [ ]:
S - A.union(B)

In [ ]:
(S-A).intersection(S-B)

2. The complement of the intersection of two sets is the same as the union of their complements

In [56]:
#complement of intersection of two sets
S - A.intersection(B)

{1, 2, 3, 5, 7, 8, 9, 10}

In [57]:
#union of their complements
(S - A).union(S-B)

{1, 2, 3, 5, 7, 8, 9, 10}

In [ ]:
S - A.intersection(B)

In [ ]:
(S-A).union(S-B)

Combinatorics!!! <br>

A fancy word for counting things! <br>

Three possible concerns when counting:

1) With or without replacement

What's an example of counting with replacement and without replacement?

How many ways can you draw 5 cards from a deck without replacement? How about with replacement?

2) Counting with or without ordering

Without ordering : How many different three letter combinations can you make from ABCDE?

With ordering: How many different ways can you order ABC?

3) Counting with or without repetition

Without repitition: Again, how many different ways can we order ABC?

With repitition: How many was can we order ABC, but now we allow AAA, BBB, ACC, etc.

Combinations vs Permutations! <br>

Permutations: <br>
Order Matters
All outcomes are unique
More possible outcomes (than combinations)

Permutation examples:

Order of Top 8 finishers in a race.
Result of shuffling a deck of cards.

Permutations Formula:

With N options, choosing K

N!/(N-K)!

With 100 racers, how many possible outcomes can there be for the order of the top 8 finishers?

N = 100
K = 8

In [ ]:
100!/(100-8)!

Dang, python doesn't do factorials like that.

Well can we figure out a way to quickly code up a factorial function?

In [58]:
def factorial(n):
    product = 1
    for i in range(2, n+1):
        product *= i
    return product

In [59]:
factorial(10)

3628800

In [60]:
factorial(100)/factorial(100-8)

7503063898176000.0

In [61]:
f'{factorial(100)/factorial(100-8):e}'

'7.503064e+15'

In [65]:
f'{factorial(100)/factorial(100-8):.2e}'

'7.50e+15'

In [66]:
f'{factorial(100)/factorial(100-8):.2}'

'7.5e+15'

Combinations:

Order does not matter
Many outcomes are the same (homologous)
Smaller number of possible outcomes (when compared to permutations)

Combination examples:

Top 8 finishers in a race regardless of order <br>
Possible five card hands in Poker

Combinations formula: <br>

Again, <br>
N = number of options
K = amount chosen

N! / ((N-K)! * K!)

With 100 racers, how many possible outcomes can there be for the top 8 finishers?

N = 100
K = 8

In [62]:
factorial(100)/ (factorial(100-8) * factorial(8))

186087894300.0

In [64]:
f'{factorial(100)/ (factorial(100-8) * factorial(8)):.2e}'

'1.86e+11'

Morning Assignment:

1) How many possible five letter combinations can be made from a set of scrabble tiles, one for each letter in the alphabet 'abcdefghijklmnopqrstuvqxyz' wihout replacement? (warm up)

2) How about with replacement? (warm up)

3) If I randomly select five letters, with replacement, how likely am I to create a word? (Hint: you'll need to look up the number of five letter words in the english language)  (not too bad)

4) How many unique five - card poker hands are there?   (not too bad)

5) What is the probability of being dealt a straight flush?   (pretty tough)

6) An ordinary flush?  (tough)

In [68]:
# 1
# 26 choose 5 permutations

factorial(26)/factorial(26-5)

7893600.0

In [69]:
# 2
# just 26 options 5 times
26**5

11881376

In [70]:
# 3
# Sample space is 26**5
# Subset is however many english words there are: 12478
12478/(26**5)

0.0010502150592658628

In [71]:
# 4
# 52 choose 5 combinations

factorial(52)/(factorial(52-5)*factorial(5))

2598960.0

In [72]:
#5
# sample space is previous answer 2598960
# How many places can the straight start? In other words choose the lowest rank card, how many options for that?
# A, 2, 3, 4, 5, 6, 7, 8, 9, 10
# why not J or higher? not enough cards above it (Q, K, A)
# 10 choose 1
# So each suit has 10 places a straigh flush can start
# How many suits are there? 4 choose 1

#Any number X choose 1 is just X
# X!/(X-1)! = X

10 * 4

40

In [73]:
#40 possible straight flushes
# 2598960 possible poker hands
40/2598960

1.5390771693292702e-05

In [76]:
#6
# sample space again: 2598960
# we can get a flush with any combination of the thirteen ranks in that suit
# 13 choose 5

# We have four suits to possibly get a flush
# 4 choose 1

(factorial(13)/(factorial(13-5)*factorial(5))) * 4

5148.0

In [77]:
#probability of any flush
5148/2598960

0.0019807923169267707

In [78]:
#probability of an ordinary non-straight flush
(5148 - 40)/2598960

0.001965401545233478